<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>


    <section class="cart-area current" id="cart">
        <h2>Cart <span>Items</span></h2>
        <div class="cart-cards">
            <% if(data.length > 0){ %>
            <% data.forEach(item => { %>
                <div class="cart-card">
                    <a class="remove-btn"><i class="fa-solid fa-trash"></i></a>
                    <img src="<%= item.img %>" alt="" class="cart-image">
                    <div class="cart-text">
                        <h3><%= item.dishName %></h3>
                        <h3>Quantity<i class="fa-solid fa-arrow-right"></i> <%= item.quantity %></h3>
                        <div class="price">
                            <small>$<%= item.price %></small>
                            <a class="btn btn-card">Buy Now</a>
                        </div>
                    </div>
                </div>
            <% }) %>
            <% }else{ %>
                <h3>No items in your cart</h3>
            <% } %>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>

    <script src="search.js"></script>
    <script src="nav.js"></script>
    <script src="removeItem.js"></script>
</body>
</html>